<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="/tabs">
      <ion-icon name="bag-add-outline"></ion-icon>
      <ion-label>
        Urunler
       </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="/tabs/baskets">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Sepet</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="/tabs/orders">
      <ion-icon name="bag-remove-outline"></ion-icon>
      <ion-label>Siparisler</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
 </ion-tabs>